<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <a href="https://github.com/leffel" target="_blank">
        <span class="icon"> {% include icon-github.svg %} </span>
      </a>
      <a href="https://gitlab.com/leffel" target="_blank">
        <span class="icon"> {% include icon-gitlab.svg %} </span>
      </a>
      <a href="https://angel.co/nicole-leffel" target="_blank">
        <span class="icon"> {% include icon-angellist.svg %} </span>
      </a>
      <a href="https://www.linkedin.com/in/nicoleleffel/" target="_blank">
        <span class="icon linkedin"> {% include icon-linkedin.svg %} </span>
      </a>
      <a href="https://twitter.com/devilherdue" target="_blank">
        <span class="icon twitter"> {% include icon-twitter.svg %} </span>
      </a>
    </div>
  </div>
</footer>
