---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
$link-color: #ff6a00;
//$link-color: #008f81;

a { color: $link-color;}
a:visited { color: $link-color; }

p.title { font-size: 1.6em; padding: 0em 0em 0.2em 0em; }

form.contact { width: 100%; margin: 1em auto; }
form.contact > input { display: block; margin: 0.6em 0 2.2em 0; width: 100%; height: 2em; border-radius: 0.2em; border: 1px solid #aaa;}
form.contact > textarea { display: block; margin: 0.6em 0 2.4em 0; width: 100%; height: 12em; border-radius: 0.2em; border: 1px solid #aaa; }
form.contact > button { display: block; margin: 1.2em auto; width: 50%; height: 2em; font-size: 1em; background-color: transparent; border-radius: 0.2em; border: 1px solid $link-color; }

div.home_pic > img { border-radius: 1em; margin-bottom: 0.6em; }
div.home_pic > p { font-size: 1em; color: #666; font-style: italic; text-align: center; margin: 0.1em 0 2em 0; }
div.home a { border-bottom: 1px solid }

.footer-col-wrapper { text-align: center; padding: 0em; margin: -0.4em 0; }
.footer-col-wrapper > a { text-decoration: none; }
.icon > svg { width: 2em; margin: 0 1.8em 0 0; fill: inherit; }
.icon > svg path { fill: inherit; }
.linkedin > svg { width: 2.6em; margin: 0 0.6em 0 0; }

.site-header { border-top: 0px; padding: 0.6em 1.6em; }
.site-title { font-size: 2em; }

@media (min-width: 0em) {
  .site-nav { top: 1.2em; }
  div.home { display: block}
  div.home_pic { max-width: 38em; width:80%; float: none; margin: 0em auto; }
  div.home_content { width: 90%; float: none; margin: 0 auto; font-size: 1.1em; }
}

@media (min-width: 64em) {
  div.wrapper { max-width: 70em; }
  div.home { display: flex; justify-content: flex-start; margin-top: 1em }
  div.home_pic { max-width: 32em;}
  div.home_content { width: 45%; margin-left: 2em}
}
